{% extends 'layout.html' %}
{% block body %}
<div class="jumbotorn text-center">
        <img src="static/android1.png" height="150px"> |
        <img src="static/android.png" height="159px">

        <h1 class="text-center">DL-DruidDetector</h1><br><hr>
        <h4>A framework that uses multiple techniques to detect the android malwares, this framework depends on feature extraction using static analysis, correspondingly the framework uses gray-image based, the data from these techniques will be classified with multiple deep learning model Convolutional Neural Network (CNN), by deploying the largest and effective datasets for training and testing the models.</h4>
</div>
{% endblock %}